{% extends "base.html" %}
{% load static %}

{% block title %}Agendar Cita - Psic. Susana Dávila{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/appointment.css' %}">
{% endblock %}

{% block content %}
<div class="appointment-container">
    <h1>Agendar Cita</h1>
    
    <div class="appointment-form">
        <h2>Seleccione una fecha y hora disponible*:</h2>
        <select id="availability-select">
            <option value="">Cargando horarios...</option>
        </select>
        <button id="book-appointment" class="appointment-button">Reservar Cita</button>
        <p class="footnote">*Hora de la CDMX, tiempo del centro de México</p>
    </div>

    <div id="loading" class="loading" style="display: none;">
        <div class="spinner"></div>
        <p>Procesando su solicitud...</p>
    </div>

    <div id="appointment-confirmation" class="confirmation" style="display: none;">
        <h2>¡Cita Confirmada!</h2>
        <p><strong>Fecha:</strong> <span id="confirmed-date"></span></p>
        <p><strong>Hora:</strong> <span id="confirmed-time"></span></p>
        <p><strong>¡Confirma tu cita!:</strong> Hemos enviado un correo electrónico de confirmación a tu bandeja de entrada.</p>
        <p><strong>No te llego tu coreo?:</strong> clic <a href="{% url 'contact' %}" class="here">aquí</a> para avisarnos</p>
    </div>

    <div class="user-appointments">
        <h2>Mis Citas</h2>
        <ul id="user-appointments-list">
            {% for appointment in user_appointments %}
            <li>
                {{ appointment.availability.date|date:"d/m/Y" }} {{ appointment.availability.start_time|time:"H:i" }}
                {% if appointment.google_meet_link %}
                    - <a href="{{ appointment.google_meet_link }}" target="_blank" class="meet-link">Unirse a la videollamada</a>
                {% else %}
                    - <a href="{% url 'recomendaciones' %}" class="pending">Enlace pendiente</a>
                {% endif %}
            </li>
            {% empty %}
            <li>No tienes citas programadas.</li>
            {% endfor %}
        </ul>
    </div>

</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/appointment.js' %}"></script>
{% endblock %}