{% extends "base.html" %}
{% load static %}

{% block title %}Contacto - Psic. Susana Dávila{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}

{% block content %}
<div class="contact-container">
    <h1>Contacto</h1>
    <div class="contact-content">
        <div class="contact-info section">
            <h2>Información de Contacto</h2>
            <ul>
                <li><i class="fas fa-envelope"></i> psic.susidm@gmail.com</li>
                <li><i class="fas fa-phone"></i> (+55) 624 243 3110</li>
                <li><i class="fas fa-id-card"></i> Ced.Prof.13420346</li>
            </ul>
            <div class="social-links">
                <a href="#" class="social-icon" target="_blank" ><i class="fab fa-instagram"></i> Instagram</a>
                <a href="#" class="social-icon" target="_blank" ><i class="fab fa-facebook"></i> Facebook</a>
            </div>
        </div>
        <div class="contact-form section">
            <h2>Envíame un mensaje</h2>
            <form id="contactForm">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Correo electrónico</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="subject">Asunto</label>
                    <input type="text" id="subject" name="subject" required>
                </div>
                <div class="form-group">
                    <label for="message">Mensaje</label>
                    <textarea id="message" name="message" required></textarea>
                </div>
                <button type="submit" class="submit-btn">Enviar mensaje</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/contact.js' %}"></script>
{% endblock %}